/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2016, 1:58:55 PM
    Author     : ido
*/
 /**
 * twitter color: #55acee
 * fb color: #3b5998
 * g+ color: #db4b39
 * yelp color : #C41200
 */
#csl-footer-links-list{
    list-style-type: none;
    
}
.csl-footer-links ul li{display: inline-block; float: left;}
.csl-footer-links ul li:after{content: " | ";}
.csl-footer-links ul li:last-child:after{content:"";}
.csl-footer-links li.social-link a{box-shadow:none;}
i.fa{
    padding: 10px;
    border-radius: 5px;
    
}

#facebook .fa-facebook{color: #3b5998;}
#facebook .fa-facebook:hover{background:#3b5998;color:#fff;}

#twitter .fa-twitter{color: #55acee;}
#twitter .fa-twitter:hover{background:#55acee;color:#fff;}

#google .fa-google-plus{color: #db4b39;}
#google .fa-google-plus:hover{background:#db4b39;color:#fff;}

#yelp .fa-yelp{color: #C41200;}
#yelp .fa-yelp:hover{background:#C41200;color:#fff;}