/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2016, 1:58:55 PM
    Author     : ido
*/
 /**
 * twitter color: #55acee
 * fb color: #3b5998
 * g+ color: #db4b39
 * yelp color : #C41200
 */
.footer_social_links{

}
.footer_social_links h4{

}
#islp-footer-links-list{
    list-style-type: none;
    
}
#islp-footer-links-list .social-link{
    display: inline-block;
    float: left;
}

#islp-footer-links-list .social-link a i.fa{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#islp-footer-links-list .social-link a{
    box-shadow: none;
}
#islp-footer-links-list .social-link#facebook .fa-facebook{
    color: #3b5998;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#islp-footer-links-list .social-link#facebook .fa-facebook:hover{
    background:#3b5998;
    color:#fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#islp-footer-links-list .social-link#twitter .fa-twitter{
    color: #55acee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#islp-footer-links-list .social-link#twitter .fa-twitter:hover {
    background:#55acee;
    color:#fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#islp-footer-links-list .social-link#google .fa-google-plus{
    color: #db4b39;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#islp-footer-links-list .social-link#google .fa-google-plus:hover{
    background:#db4b39;
    color:#fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#islp-footer-links-list .social-link#yelp .fa-yelp{
    color: #C41200;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#islp-footer-links-list .social-link#yelp .fa-yelp:hover{
    background:#C41200;
    color:#fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}